@import url('https://fonts.googleapis.com/css?family=Montserrat|Merriweather+Sans');
:root {
  --grey: rgb(76, 82, 79);
  /* --yellow: #E8DB7D; */
  --yellow: white;
  --blue: #1f2d3d;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Merriweather Sans', sans-serif;
}

.pictures {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 15px;
}

@media (max-width: 415px){
  .pictures {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px){
  .pictures {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 1081px){
  .pictures {
    grid-template-columns: repeat(4, 1fr);
  }
}

.col {
  display: flex;
  flex-direction: column;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Picture Grid */

.picture-grid .pictures img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 4px black;
}

.picture-grid .pictures img:hover {
  transform: scale(0.98);
  cursor: pointer;
}

.left {
  padding-left: 1rem;
}

.middle {
  min-width: 35vw;
  width: auto;
  margin: 0 auto;
  display: flex;
}

.middle * {
  font-size: 1.5rem;
}

.searchBar .title {
  margin-bottom: 5%;
  /* align-self: baseline; */
}

.middle form {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
}

.middle input {
  width: auto;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none !important;
  outline: none;
  border-style: outset;
  border-right-width: 0px;
  border-color: var(--grey);
  padding: 1%;
}

.middle button {
  outline: none;
  border: none !important;
  background-color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-style: outset;
  border-left-width: 0px;
  border-color: var(--grey);
  transition: all 0.3s ease-in-out;
  padding: 1%;
  padding-right: 5%;
  padding-left: 5%;
}

.middle button:hover {
  background-color: var(--blue);
  color: var(--yellow);
}

@media (max-width: 415px) {
  .middle input {
    margin-top: 3%;
    width: 60%;
  }
  .middle button {
    width: 30%;
  }
  .picture-grid .container {
    width: 95%;
  }
}

/* Spinner */

.spinner {
  margin: 5% auto;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 5px solid var(--grey);
  border-left-color: white;
  border-top-color: white;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

.search-box {
  height: 40vh;
  width: 100%;
  background-image: url('https://source.unsplash.com/random/1920x400');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.header-body {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  color: var(--yellow);
  text-shadow: 4px 0px 4px var(--blue);
}

.nav h1, .nav h3 {
  margin-top: 0;
}

.nav .right {
  padding-right: 16px;
}

.nav a:hover {
  text-decoration: underline;
}

.nav a {
  color: var(--yellow);
  text-decoration: none;
}

.nav {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav, .header-body {
  animation-name: slideInText;
  animation-duration: 1s;
  animation-direction: forward;
}

.searchBar {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture-grid .title {
  text-shadow: none;
  color: var(--blue);
  text-align: center;
}

@keyframes slideInText {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}