@import url('https://fonts.googleapis.com/css?family=Montserrat|Staatliches');

:root {
  --grey: rgb(76, 82, 79);
  --yellow: #E8DB7D;
  --blue: #1f2d3d;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Picture Grid */
.picture-grid .img-wrapper {
  padding: 16px;
}
.picture-grid .img-wrapper img {
  min-width: 200px;
  max-width: 500px;
  max-height: 1000px;
  height: auto;
  width: 100%;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 4px black;
}

.picture-grid .img-wrapper img:hover {
  transform: scale(0.95);
  cursor: pointer;
}

/* Navbar */
nav {
  background-color: var(--blue);
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-family: 'Staatliches', cursive;
}

nav a {
  color: ;
}

.left {
  padding-left: 1rem;
}

.middle {
  min-width: 70vw;
  padding: 0px 1rem;
  margin: 0 auto;
}

.middle * {
  font-size: 1.5rem;
}

.middle input {
  width: 85%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: none !important;
  outline: none;
  border-style: outset;
  border-right-width: 0px;
  padding-left: 16px;
  border-color: var(--grey);
  padding: 1%;
}
.middle button {
  width: 13%;
  outline: none;
  border: none !important;
  background-color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-style: outset;
  border-left-width: 0px;
  border-color: var(--grey);
  transition: all 0.3s ease-in-out;
  padding: 1%;
}

.middle button:hover {
  background-color: var(--yellow);
  color: var(--blue);
}

@media (max-width: 415px) {
  .middle input {
    margin-top: 3%;
    width: 60%;
  }
  .middle button {
    width: 30%;
  }
  .picture-grid .container {
    width: 95%;
  }
}

/* Spinner */
.spinner {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 5px solid var(--grey);
  border-left-color: white;
  border-top-color: white;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  from {transform: rotate(0deg)}
  to{transform: rotate(360deg)}
}

.search-box {
  height: 40vh;
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1449034446853-66c86144b0ad?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjUyNDE0fQ');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.header-body {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  color: var(--yellow);
  text-shadow: 4px 0px 4px var(--blue);
}

.nav h1, .nav h3 {
  margin-top: 0;
}

.nav .right {
  padding-right: 16px;
}

.nav a:hover {
  text-decoration: underline;
}

.nav a {
  color: var(--yellow);
  text-decoration: none;
}

.nav {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBar {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture-grid .title {
  text-shadow: none;
  color: var(--blue);
  text-align: center;
}